
}


body {
	min-width: 1160px;
	margin: 0;
	padding: 0;


	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;

	background-color: #ffffff;

}

a {
	text-decoration: none;
}

.main-header {
    background-color: rgba(240,197,40,0.5);
    
}

.main-navigation {
	font-family:"Gilroy", Arial, san-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	
}

.main-navigation li {
	list-style: none;
}

.main-header-logo {
	font-family: "Gilroy", Arial, san-serif;
	font-size: 48px;
	font-weight: 700;
	color: #000000;
}

.main-header-logo:hover {
	color: rgba(0, 0, 0, 0.6);

}

.main-header-logo:focus {
	color: rgba(0, 0, 0, 0.3);
}

.main-header-search {
	font-family: "Open Sans", Arial, san-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
}

.user-navigation {
	font-family: "Open Sans", Arial, san-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #000000;	
}

.user-navigation a,
.site-navigation a {
	color: #000000;
}

.user-navigation a:hover {

	color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:focus{
	color: rgba(0, 0, 0, 0.3);
}

.menu-items {
	font-family: "Open Sans", Arial, san-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight:300;
	color: #000000;

}

.menu a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.menu a:focus {
	color: rgba(0, 0, 0, 0.3);
}

.slider-page-number {
	font-family: "Gilroy", Arial, san-serif;
	font-size: 179px;
	font-weight: 700;
	color:#ffffff;
}

.slider-information h3 {
	font-family: "Gilroy", Arial, san-serif;
	font-size: 47px;
	line-height: 56px;
	font-weight: 700;
	color: #000000;
}

.slider-information p {
	font-family: "Open Sans", Arial, san-serif;
	font-size: 15px;
	line-height:30px;
	font-weight: 300px;
	color: #464646;
}

.btn {
    background-color: #f0c52e;
    width: 220px;
    height: 4px; 

	font-family:"Gilroy", Arial, san-serif;
	font-size: 18px;
	font-weight: 700;
	color: #000000;

	padding: 0 40px;
	margin-top: 30px;

}

.slider-information a:hover   {
	padding: 10px 40px;
}

.slider-information a:focus {
    padding: 10px 40px;
	color: rgba(0, 0, 0, 0.3);
}

.slider-items-parameter th {
	font-family: "Gilroy", Arial, san-sarif;
	font-size: 36px;
	line-height: 48px;
	font-weight: 300;
	color: #000000;

}

.slider-items-parameter td {
	font-family: "Open Sans", Arial, san-sarif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
	color: #464646;
}


.slider-nav-btn li {
	list-style: none;
}

.slider-btn-page {
	width: 12px;
	height: 12px;
	border: 1px solid #000000;
	border-radius: 50%;

}


.main-popular {
	font-family: "Gilroy", Arial, san-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
}

.main-popular li {
	list-style: none ;
}

.popular-item  {
	background-color: rgba(240, 197, 46, 0.5);
	width: 160px;
	height: 160px;
	
}

.popular-item a {
	color: #000000;
}

.item-1 {
	background-image: url("../img/popular-1.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;

}
 
.item-2 {
	background-image: url("../img/popular-2.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;

}

.item-3 {
	background-image: url("../img/popular-3.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.item-4 {
	background-image: url("../img/popular-4.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;

}

.item-5 {
	background-image: url("../img/popular-5.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.item-6 {
	background-image: url("../img/popular-6.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;

}

.popular-item:hover {
	background-color: #ffc600;
}

.popular-list a:focus {

	color: rgba(0, 0, 0, 0.3);
}



.service-list {
	font-family: "Open Sans", Arial, san-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: 300;
	color: #464646;

	
	background-color: #e5e5e5;
}




.service-list li {
	list-style: none;
}

.service-item h3 {
    min-height: 170px;


	font-family: "Gilroy", Arial, san-sarif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 700;
	color: #000000;


}

.service-item-1 {
    background-image: url("../img/delivery.png");
    background-repeat: no-repeat;
    background-position: 80% 50%;
	
} 

.service-item-2 {
    background-image: url("../img/warranty.png");
    background-repeat: no-repeat;
    background-position: 80% 50%;
}

.service-item-3 {
    background-image: url("../img/credit.png");
    background-repeat: no-repeat;
    background-position: 80% 50%;

 }


.service-btn-nav li {
	list-style: none;

}

.btn-service {
    padding: 5px 20px; 
	background-color: #f0c52e;

    }

.btn-service:hover {
	padding: 20px 20px;

}

.btn-service:focus {

	padding:20px 20px 20px 0px;
	background-color: #000000;

	width: 500px;

	color: #f0c52e;
}


.main-brands li {
	list-style: none;
}

.brand-list li {
	min-height: 120px;
}



.brand-item-1 {
	background-image: url("../img/brend-1.png");
	background-repeat: no-repeat;

	filter: grayscale(100%) opacity(30%);
	

}

.brand-item-1 {
	background-image: url("../img/brend-1.png");
	background-repeat: no-repeat;

	filter: grayscale(100%) opacity(30%);
	

}

.brand-item-2 {
	background-image: url("../img/brend-2.png");
	background-repeat: no-repeat;

	filter: grayscale(100%) opacity(30%);
	

}

.brand-item-3 {
	background-image: url("../img/brend-3.png");
	background-repeat: no-repeat;

	filter: grayscale(100%) opacity(30%);
	

}

.brand-item-4 {
	background-image: url("../img/brend-4.png");
	background-repeat: no-repeat;

	filter: grayscale(100%) opacity(30%);
	

}

.brand-item:hover {
	filter: none;
}

.main-about-us h3 {
	font-family: "Gilroy", Arial, san-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 700;
	color: #000000;

}

.main-about-us p {
	font-family: "Open Sans", Arial, san-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
}

.delivery-list {
	font-family: "Gilroy", Arial, san-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: 700;
    color: #000000;
}

.main-about-us a:hover {
	padding: 10px 40px;
}

.main-about-us a:focus {
    padding: 10px 40px;
	color: rgba(0, 0, 0, 0.3);

}

.main-contacts h3 {
    font-family: "Gilroy", Arial, san-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
    color: #000000;
}

.main-contacts p {
	font-family: "Open Sans", Arial, san-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
}

.contacts-us-btn:hover {
	padding: 10px 40px;

}

.contacts-us-btn:focus {
    padding: 10px 40px;
	color: rgba(0, 0, 0, 0.3);

}

.main-footer {
	background-color: #464646;
}

.main-footer-logo {
	font-family: "Gilroy", Arial, san-serif;
	font-size: 48px;
	font-weight: 700;
	color: #ffc600;
}

.main-footer-logo:hover {
	color: rgba(255, 198, 0, 0.6);
}

.main-footer-logo:focus {
	color: rgba(255, 198, 0, 0.3);
}



.footer-adress {
	font-family: "Open Sans", Arial, san-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #ffffff;
}
.navigation-list {
	font-family: "Gilroy", Arial, san-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
    color: #ffffff;
}
.navigation-list li {
	list-style: none;

}

.navigation-list a {
	color: #ffffff;
}

.navigation-list a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.navigation-list a:focus {
	color: rgba(255, 255, 255, 0.3);
}

.footer-social li {
	list-style: none;

}

.footer-social a {
	color: #ffffff;
}

.user-navigation {
	font-family: "Open Sans", Arial, san-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.6);
}


.user-navigation li {
	list-style: none;
}


.user-navigation a {
	color: rgba(255, 255, 255, 0.6);
}


.user-navigation a:hover {
	color: #ffffff;
}


.user-navigation a:focus {
	color: rgba(255, 255, 255, 0.3);
}

.footer-telephone {
	font-family: "Open Sans", Arial, san-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #ffffff;

}

.logo-creator {
	min-width: 30px;
    min-height: 50px;

    margin-top: 10px;

	background-image: url("../img/htmlacademy.png");
	background-repeat: no-repeat;
	background-position: 90% 90%;
}

